


<table >
  <tr>
    <th style="border: 1px solid black;">username</th>
    <th style="border: 1px solid black;">email</th>
  </tr>
{% for author in authors %}

  <tr>
    <td style="border: 1px solid black;">{{ author.username|upper}} </td>
    <td style="border: 1px solid black;">{{ author.email }}</td>
  </tr>
  {% endfor %}
</table>




